.flip-number {
  perspective: 600px;
  display: inline-block;
  width: 60px;
  height: 80px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
}

.flip-card.flip {
  transform: rotateX(-90deg); /* переворот по оси X */
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  background-color: #555;
  background: rgba(0, 0, 0, 0.1); /* прозрачный фон */
}

.flip-back {
  transform: rotateX(180deg);
  background-color: #555;
}
